#root {
  background-color: #ffffff;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  min-height: 937px;
  margin: 0 auto;
  font-family: "Roboto", Arial, sans-serif;
  color: #343a40;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 650px;
  text-align: center;
}

a,
li {
  font-family: "FuturaMediumC";
}
li {
  list-style-type: none;
}
.dropdown-item {
  margin-bottom: 5px;
  text-align: center;
  color: #5bb8c7;
  background-color: white;
  &:hover {
    color: white;
    background-color: #5bb8c7;
    transition: all 300ms ease;
  }
}
$color-bg: #111111;
$color-particle: #ffffff;
$spacing: 1280px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 600s;

/* Pauls awesome mixin */
@function particles($max) {
  $val: 0 0 $color-particle;
  @for $i from 1 through $max {
    $val: #{$val}, random($spacing) + px random($spacing) + px $color-particle;
  }
  @return $val;
}

@mixin particles($max) {
  box-shadow: particles($max);
}

.particle,
.particle:after {
  background: transparent;
}

.particle:after {
  content: "";
  position: absolute;
  top: 920px;
}

.particle-1 {
  width: 1px;
  height: 1px;
  animation: animParticle $time-1 linear infinite;

@include particles(600);
}

.particle-1:after {
  width: 1px;
  height: 1px;

@include particles(600);
}

.particle-2 {
  width: 2px;
  height: 2px;
  animation: animParticle $time-2 linear infinite;

@include particles(200);
}

.particle-2:after {
  width: 2px;
  height: 2px;

@include particles(200);
}

.particle-3 {
  width: 3px;
  height: 3px;
  animation: animParticle $time-3 linear infinite;

@include particles(100);
}

.particle-3:after {
  width: 3px;
  height: 3px;

@include particles(100);
}

.particle-4 {
  width: 1px;
  height: 1px;
  animation: animParticle $time-4 linear infinite;

@include particles(400);
}

.particle-4:after {
  width: 1px;
  height: 1px;

@include particles(400);
}

@keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY($spacing * -1);
  }
}
