#root {
  background-color: #ffffff;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  min-height: 937px;
  margin: 0 auto;
  font-family: "Roboto", Arial, sans-serif;
  color: #212529;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 720px;
  text-align: center;
}

.btn {
  width: 100%;
  margin-bottom: 40px;
  background-color: #5bb8c7;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  border: 1px solid #5bb8c7;
  background-color: white;
  color: #5bb8c7;
  cursor: pointer;
}

a,
li {
  font-family: "FuturaMediumC";
 color: #1098ad;
}

.dropdown-item {
  background-color: white;
  color: #5bb8c7;
  text-align: center;
}
.dropdown-item:hover {
  background-color: #5bb8c7;
  color: white;
}

.show>.btn-success.dropdown-toggle:focus {
box-shadow: none;
background-color: #237a88;
color: white;
}