#root {
  background-color: #ffffff;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  min-height: 937px;
  margin: 0 auto;
  font-family: "Roboto", Arial, sans-serif;
  color: #212529;
}

.main {
  min-height: 720px;
}

.btn {
  width: 100%;
  margin-bottom: 40px;
  padding: 10px;
  background-color: #343a40;
  border: none;
  outline: 1px solid #495057;
  cursor: pointer;
}
