p.decor {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
  p.decor:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 4px;
    left: 100px;
    width: 40px;
    height: 1px;
    margin: 0 auto;
    background: #1098ad;
  }
  p.decor:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 4px;
    left: -100px;
    width: 40px;
    height: 1px;
    margin: 0 auto;
    background: #1098ad;
  }
  p.decor span.deg1 {
    content: "";
    position: absolute;
    right: 0;
    bottom: 2px;
    left: -30px;
    width: 6px;
    height: 6px;
    margin: 0 auto;
    background: #1098ad;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  p.decor span.deg2 {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    background: #1098ad;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  p.decor span.deg3 {
    content: "";
    position: absolute;
    right: 0;
    bottom: 2px;
    left: 30px;
    width: 6px;
    height: 6px;
    margin: 0 auto;
    background: #1098ad;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }
