.developers {
  margin-top: 45px;
}
.developers__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  @media screen and (max-width: 460px) {
    justify-content: center;
  }
}
.developers__title {
  font: bold 2rem "FuturaMediumC";
  letter-spacing: 1px;
}
.developer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 220px;
  height: 400px;
  margin: 20px 1rem;
  border-radius: 10px;
}
.developer-container__name {
  font: bold 1.5rem "FuturaMediumC";
  color: rgba(0, 0, 0, 0.85);
}
.developer-container__photo {
  border-radius: 50%;
}
.developer-container__link {
  font: bold 1.2rem "FuturaMediumC";
  color: #17a2b8;
  &:hover {
    // font: bold 1.3rem "FuturaMediumC";
    color: darken(#17a2b8, 10%);
    cursor: pointer;
    transition: all 300ms ease;
  }
}
