.main__search-clear-btn {
  padding: 0 10px;
  color: white;
  background-color: #17a2b8;
  border: 1px solid #17a2b8;
  border-radius: 0 8px 8px 0;
  outline: none;
  transition: 0.2s;
}

.main__search-clear-btn:hover {
  background-color: #0c6d7c;
  border: 1px solid white;
}
