.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
  @media screen and (max-width: 375px) {
    padding: 20px 15px;
  }
  button {
    font: normal 1.1rem "FuturaMediumC";
  }
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    margin-bottom: 10px;
  }
  @media screen and (max-width: 460px) {
    flex-direction: column;
  }
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 25px;
  border-top: 1px solid #17a2b8;
  border-bottom: 1px solid #17a2b8;
}
.header__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  font: normal 1.4rem "FuturaMediumC";
  cursor: default;
  @media screen and (max-width: 460px) {
    width: 90%;
    height: 30px;
    font: normal 1.2rem "FuturaMediumC";
  }
  a {
    color: #17a2b8;
    &:hover {
      color: darken(#17a2b8, 10%);
    }
  }
}
.header-logo__text {
  font: bold 2.4rem "FuturaMediumC";
  color: #343a40;
  @media screen and (max-width: 768px) {
    font: bold 1.9rem "FuturaMediumC";
  }
  @media screen and (max-width: 345px) {
    font: bold 1.65rem "FuturaMediumC";
  }
}
.header-logo__image {
  margin-right: 20px;
  @media screen and (max-width: 768px) {
    width: 60px;
  }
}
