.main__authors {
  padding: 20px 10px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(../../assets/images/bgi-header.jpg);
  background-size: cover;
  font-family: "FuturaMediumC";
  font-size: 120%;
}